<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FaltosApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MESADEPARTES">
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MESADEPARTES.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="${oauthRedirectScheme}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TerminosActivity"
            android:exported="false" />
        <activity
            android:name=".PendienteActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitudActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FirmaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TokenActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperacionActivity"
            android:exported="false" />
        <activity
            android:name=".EliminarCuentaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity android:name=".ExpedienteActivity" android:exported="false" />
        <activity android:name=".SeguimientoActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WebActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <service
            android:name=".AvisosFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
